version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: job-portal-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

  backend:
    build: ./backend
    container_name: job-portal-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
      - minio
    restart: always

  mongo:
    image: mongo:6
    container_name: job-portal-mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    restart: always

  minio:
    image: minio/minio
    container_name: job-portal-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    restart: always

volumes:
  mongo_data:
  minio_data:
